.testar {
    color: $testing;
}
#h2title {
    color: $h2title;
    text-decoration: none;
}
#navcolor {
    color: $navcolor;
}
#postcard-bg {
    background-color: $postbg-color;
}
#recipetitle {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
