// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$testing: rgb(48, 48, 48);
$h2title: rgb(48, 48, 48);
$navcolor: rgb(146, 216, 132);
$postbg-color: rgb(255, 251, 242);
